<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!--
        MyBatis SqlSession 설정
        - configLocation : typeAlias 등 MyBatis 전역 설정 파일
        - mapperLocations : SQL XML 파일 위치 (mapper/**/*.xml 모두 스캔)
    -->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:/egovframework/sqlmap/asset/mappers/sql-mapper-config.xml" />
        <property name="mapperLocations" value="classpath:/egovframework/mapper/**/*.xml" />
    </bean>

    <!--
        @Mapper 어노테이션 처리
        - egovframework.asset 패키지의 *Mapper 인터페이스를 자동 등록합니다.
    -->
    <bean class="org.egovframe.rte.psl.dataaccess.mapper.MapperConfigurer">
        <property name="basePackage" value="egovframework.asset" />
    </bean>

</beans>
